<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Resultados de búsqueda</h1>

  <%- include('./partials/menu') %>

    <p>El término buscado es: <%= searchTerm %>
    </p>
    <h2>Lista de películas</h2>
    <!-- Aquí debe ir la lista de resultados -->
    <% if(movies.length> 0){ %>
      <% for(let i=0; i<movies.length ; i++) { %>
        <a href="/movies/id/<%= movies[i].id %>">
          <li>
            <%= movies[i].title %>
          </li>
        </a>
        <% } %>
    <% }else{ %>
      <p>No existen resultado para su busqueda</p>
    <% } %>
</body>

</html>